/video
translate/jp/video/cv_japanese/hotfix/Intro.mp4
translate/zh/video/cv_japanese/hotfix/Intro.mp4
translate/jp/video/cv_japanese/pickgender/Intro.mp4
translate/zh/video/cv_japanese/pickgender/Intro.mp4
translate/jp/video/cv_japanese/hotfix/Intro2.mp4
translate/zh/video/cv_japanese/hotfix/Intro2.mp4
translate/jp/video/cv_japanese/hotfix_windows/Intro2.mp4
translate/zh/video/cv_japanese/hotfix_windows/Intro2.mp4
